@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/bg-mobile-dark.png) no-repeat top center/cover;
  border:  1px solid #FFF;
}

body * {
  font-family: 'Inter', sans-serif;
  color: #FFF;
}

.container {
  width: 360px;
  border:  1px solid #FFF;
  margin: 56px auto 0px;
  padding: 24px;
}

.profile {
  text-align: center;
  border:  1px solid #FFF;
}

.profile img {
  width: 112px;
  height: 112px;
  border-radius: 100%;
  object-fit: cover;
  border:  1px solid #FFF;
}

.profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
  border:  1px solid #FFF;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  border:  1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 16px 24px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.2s;
}

ul li a:hover {
  border:  1.5px solid #FFF;
  background-color: rgba(255, 255, 255, 0.05);

}